// {
//   "root": true,
//   "env": {
//     "es6": true,
//     "browser": true
//   },
//   "extends": ["airbnb"],
//   "settings": {
//     "import/resolver": {
//       "node": {
//         "paths": ["."],
//         "extensions": [".js", ".jsx"]
//       }
//     }
//   },
//   "rules": {
//     "arrow-parens": "off",
//     "consistent-return": "off",
//     "func-names": "off",
//     "no-console": "off",
//     "radix": "off",
//     "react/button-has-type": "off",
//     "react/destructuring-assignment": "off",
//     "react/jsx-filename-extension": "off",
//     "react/prop-types": "off",
//     "comma-dangle": "off",
//     "react/react-in-jsx-scope": "off",
//     "react/jsx-props-no-spreading": "off",
//     "react/require-default-props": "off",
//     "react/forbid-prop-types": "off",
//     "jsx-a11y/anchor-is-valid": "off",
//     "no-unused-vars": "off",
//     "react/jsx-one-expression-per-line": "off",
//     "implicit-arrow-linebreak": "off",
//     "object-curly-newline": "off"
//   }
// }
